.snippet__item {
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: rgb(20, 255, 157);
    text-align: center;
    padding: 3rem;
    text-decoration: none;
    font-size: 1.7rem;
}

svg {
    height: 30px;
    width: 30px;
}

.copy {
    cursor: pointer;
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}
