.item {
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: rgb(20, 255, 157);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.7rem;
}

.item svg {
    height: 30px;
    width: 30px;
}

.copy {
    cursor: pointer;
    border: none;
    background: rgb(26, 49, 255);
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.success-container {
    width: 60%;
}

.active__page {
    border-bottom: 3px solid rgb(0, 217, 255);
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
