.snippet__item svg {
    height: 35px;
    width: 35px;
}

.copy {
    cursor: pointer;
    border: none;
    background: rgb(26, 49, 255);
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.success-container {
    width: 60%;
}

.active__page {
    border-bottom: 3px solid rgb(0, 217, 255);
}
