{
    "env": {
      "browser": true,
      "es2020": true
    },
    "extends": [
      "eslint:recommended",
      "prettier",
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    },
    "plugins": ["@typescript-eslint",  "prettier"],
    "rules": {
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/explicit-module-boundary-types": "off",
      "@typescript-eslint/no-empty-function": "off",
      "@typescript-eslint/ban-ts-comment": "warn",
      "prettier/prettier": "error",
      "linebreak-style": ["error", "unix"],
      "semi": ["error", "always"],
      "no-useless-escape": "off",
      "no-duplicate-imports": "warn"
    },
    "ignorePatterns": ["dist", "client", "build"]
  }
  