input {
    width: 95%;
    background: inherit;
    color: #00ff15;
    padding: 10px;
    cursor: text;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid rgba(122, 118, 118, 0.473);
}

.save__snippet {
    margin: 10px;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #0070f3;
    background: #fa6400;
    color: #fff;
}

.dark {
    color: #fff;
}

hr {
    border: none;
    border-bottom: 1px solid #444;
    margin: 20px 0;
    transition: border-color 0.1s ease-in-out;
}

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #222429;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.8);
}

.Modal .header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 15px;
}

.Modal .header button {
    cursor: pointer;
    background: inherit;
    border: none;
}

.Modal .body {
    padding: 5px 20px;
}

.Modal .footer {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    padding: 15px;
}

.Modal .close__button {
    padding: 10px 30px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    background: #ff0077;
    font-size: 1rem;
}

.Modal .save__button {
    padding: 10px 30px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    background: #1f6dff;
    font-size: 1rem;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
