input {
    height: 20vh;
    width: 95%;

    background: #1d1c1c;
    color: #00ff15;
    padding: 10px;
    border-left: 1px solid #0070f3;
    cursor: text;
    font-size: 1.3rem;
    font-family: Dank Mono;
}
