.sender {
    color: grey;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

.text {
    font-size: 0.9rem;
    padding : .2rem 0;
    margin : 0;
}

.msg {
    background: rgb(39, 37, 37);
    border-radius: 5px;
    padding: 4px 0.5rem;
    margin: 0;
}
