.activeUsers {
    height: 30vh;
    background: rgb(95, 98, 99);
}

.messages {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
}

.chatInput {
    position: absolute;
    bottom: 0;
}

.chatInputPrefix {
    color: rgba(255, 255, 255, 0.719);
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.notifications {
    color: red;
}
