nav {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #0070f3;
    background: rgb(20, 20, 20);
    z-index: 999;
}

ul {
    list-style: none;
}

.submit {
    cursor: pointer;
    padding: 0.7rem 1.8rem;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #0070f3;
    background: transparent;
    font-size: 1.1rem;
    display: flex;
}

.run {
    height: 20px;
    width: 20px;
    fill: #0070f3;
    padding-left: 16px;
}

.submit:hover {
    opacity: 0.9;
}
