nav {
    height: 70px;
    align-items: center;
    border-bottom: 1px solid #0070f3;
    background: rgb(20, 20, 20);
    z-index: 999;
    padding: 0.5rem 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.submit {
    cursor: pointer;
    padding: 0.7rem 1.5rem;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #0070f3;
    background: transparent;
    font-size: 1.1rem;
    display: flex;
}

.run {
    height: 20px;
    width: 20px;
    fill: #0070f3;
    padding-left: 13px;
}

.select__wrapper select {
    padding: 0.8rem 2rem;
    background: rgba(19, 19, 19, 0.616);
    color: #fff;
    border: 1px solid #0070f3;
    border-radius: 4px;
}

.select__wrapper select option {
    background: rgba(0, 0, 0, 0.836);
}

.submit[disabled] {
    cursor: not-allowed;
}


.nav__item {
    text-decoration: none;
    color: aqua;
    font-size: 2rem;
}